# Database credentials
database.properties

# Build artifacts
build/**
core/build/**
desktop/build/**
.gradle/**

# Not strictly necessary, however, *.jar files are often ignored and this one is required by the Gradle wrapper.
!gradle/wrapper/gradle-wrapper.jar

# Editor settings
.idea/**

core/build/
codemr/
